* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
body {
  background-color: rgb(31, 31, 31);
  /* justify-items: center; */
}

/* .header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 50px;
}
.header-container nav ul li {
  padding: 40px;
  gap: 50px;
  display: inline;
} */
.main-section {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 8rem;
}
.side-bar {
  background-color: #141414;
  color: aliceblue;
  /* height: max-content; */
  width: 30%;
}
.side-bar ul li:nth-child(1) {
  padding-top: 12px;
  cursor: pointer;
}
.side-bar ul li:nth-child(1):hover {
  color: #94a3fb;
}

.side-bar li {
  font-size: 0.9rem;
  padding-bottom: 20px;
  padding-left: 20px;
}
.side-bar li a {
  color: #d0d0d0;
  padding-left: 20px;
}

.side-bar li a:hover {
  background-color: #141414;
  opacity: 2;
  padding: 10px 7rem 10px 15px;
  border: 1px solid #625e5e;
  border-radius: 25px;
}
.side-bar li a i {
  width: 2em;
  /* text-align: left; */
}
.side-bar ul li:nth-last-of-type(5) a,
.side-bar ul li:nth-child(7) a {
  color: #94a3fb;
}

.sidebar-footer {
  margin-top: 25vmin;
  border-top: 1px solid #2e2e2e;
  padding: 15px 24px;
}

.main-center {
  background-color: #1f1f1f;
  /* margin-top: 5px; */
}
.main-center h1 {
  margin-bottom: 80px;
  justify-items: center;
  margin-left: 20%;
  /* text-align: center; */
}

textarea {
  border: 0.5px solid rgb(170, 155, 155);
  border-radius: 25px;
  padding: 10px;
  padding-left: 10px;
  background-color: #292929;
}

.three-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 120px;
  margin-left: 50px;
}
.box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  font-family: "Segoe UI";
  border: 0.5px solid rgb(206, 183, 183);
  margin-top: 35px;
  padding: 10px 5px 25px 10px;
  border-radius: 15px;
  color: #a1a1a1;
  background-color: #292929;
}
.box:hover {
  scale: 1.025;
  transition: 50ms;
}
.box p:nth-of-type(2) {
  padding-top: 10px;
  font-size: 10px;
}

span {
  color: #94a3fb;
}
